html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: hsl(222deg, 26%, 31%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "League Spartan", sans-serif;
}
body.theme2 {
  background-color: hsl(0deg, 0%, 90%);
}
body.theme3 {
  background-color: hsl(268deg, 75%, 9%);
}

.container {
  width: 420px;
  height: 550px;
  background-color: hsl(222deg, 26%, 31%);
}
body.theme2 .container {
  background-color: hsl(0deg, 0%, 90%);
}
body.theme3 .container {
  background-color: hsl(268deg, 75%, 9%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: hsl(222deg, 26%, 31%);
}
body.theme2 .header {
  background-color: hsl(0deg, 0%, 90%);
}
body.theme3 .header {
  background-color: hsl(268deg, 75%, 9%);
}
.header h1 {
  color: white;
  font-size: 25px;
}
body.theme2 .header h1 {
  color: black;
}
body.theme3 .header h1 {
  color: hsl(52deg, 100%, 62%);
}
.header .header-switch {
  display: flex;
  flex-direction: column;
}
.header .header-switch p {
  padding: 0;
  margin: 0;
  color: white;
  padding-right: 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
}
body.theme2 .header .header-switch p {
  color: black;
}
body.theme3 .header .header-switch p {
  color: hsl(52deg, 100%, 62%);
}
.header .header-switch .header-switch-number {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 5px;
  letter-spacing: 9px;
}
.header .header-switch .header-switch-number p {
  padding: 0px;
  margin: 0px;
  font-size: 10px;
}
.header .header-switch .header-switch-title {
  display: flex;
  align-items: center;
}
.header .header-switch .header-switch-title p {
  font-size: 12px;
}
.header .header-switch .switch {
  width: 50px;
  height: 20px;
  background-color: hsl(224deg, 36%, 15%);
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 2px 5px;
  cursor: pointer;
}
body.theme2 .header .header-switch .switch {
  background-color: hsl(0deg, 5%, 81%);
}
body.theme3 .header .header-switch .switch {
  background-color: hsl(268deg, 71%, 12%);
}
.header .header-switch .switch .switch-circule {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 50%;
}
.header .header-switch .switch .active-theme {
  background-color: hsl(6deg, 63%, 50%);
}
body.theme3 .header .header-switch .switch .active-theme {
  background-color: hsl(176deg, 100%, 44%);
}

.display {
  height: 100px;
  border-radius: 10px;
  background-color: hsl(224deg, 36%, 15%);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  border: none;
  color: white;
  outline: none;
  text-align: right;
  width: 100%;
  font-size: 45px;
  font-family: "League Spartan", sans-serif;
  letter-spacing: 2px;
}
body.theme2 .display {
  background-color: hsl(0deg, 0%, 93%);
  color: hsl(268deg, 71%, 12%);
}
body.theme3 .display {
  background-color: hsl(268deg, 71%, 12%);
  color: hsl(52deg, 100%, 62%);
}
.display p {
  padding: 0px;
  margin: 0px;
  font-size: 30px;
  color: white;
}
body.theme2 .display p {
  color: black;
}
body.theme3 .display p {
  color: hsl(52deg, 100%, 62%);
}

.keyboard {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(223deg, 31%, 20%);
  border-radius: 15px;
  padding: 0 20px;
  padding-bottom: 20px;
}
body.theme2 .keyboard {
  background-color: hsl(0deg, 5%, 81%);
}
body.theme3 .keyboard {
  background-color: hsl(268deg, 71%, 12%);
}
.keyboard .key {
  width: 77.5px;
  height: 50px;
  background-color: hsl(45deg, 7%, 89%);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px hsl(35deg, 11%, 61%);
  margin-top: 20px;
  padding-top: 5px;
  cursor: pointer;
  color: hsl(221deg, 14%, 31%);
  font-size: 25px;
}
body.theme3 .keyboard .key {
  background-color: hsl(268deg, 47%, 21%);
  box-shadow: 0 5px hsl(290deg, 70%, 36%);
}
body.theme3 .keyboard .key {
  color: hsl(52deg, 100%, 62%);
}
.keyboard .key-rest {
  width: calc(50% - 10px);
  background-color: hsl(225deg, 21%, 49%);
  box-shadow: 0 5px hsl(224deg, 28%, 35%);
  color: white;
  font-size: 20px;
}
body.theme2 .keyboard .key-rest {
  background-color: hsl(185deg, 42%, 37%);
  box-shadow: 0 5px hsl(185deg, 58%, 25%);
}
body.theme3 .keyboard .key-rest {
  background-color: hsl(281deg, 89%, 26%);
  box-shadow: 0 5px hsl(290deg, 70%, 36%);
  color: white;
}
.keyboard .key-equal {
  width: calc(50% - 10px);
  background-color: hsl(6deg, 63%, 50%);
  box-shadow: 0 5px hsl(6deg, 70%, 34%);
  color: white;
  font-size: 20px;
}
body.theme2 .keyboard .key-equal {
  background-color: hsl(25deg, 98%, 40%);
  box-shadow: 0 5px hsl(25deg, 99%, 27%);
}
body.theme3 .keyboard .key-equal {
  background-color: hsl(176deg, 100%, 44%);
  box-shadow: 0 5px hsl(177deg, 92%, 70%);
  color: hsl(60deg, 10%, 19%);
}
.keyboard .key--del {
  background-color: hsl(225deg, 21%, 49%);
  box-shadow: 0 5px hsl(224deg, 28%, 35%);
  color: white;
  font-size: 20px;
}
body.theme2 .keyboard .key--del {
  background-color: hsl(185deg, 42%, 37%);
  box-shadow: 0 5px hsl(185deg, 58%, 25%);
}
body.theme3 .keyboard .key--del {
  background-color: hsl(281deg, 89%, 26%);
  box-shadow: 0 5px hsl(290deg, 70%, 36%);
  color: white;
}

@media screen and (max-width: 420px) {
  .container {
    margin-top: 0;
    padding-top: 0;
  }
  .keyboard {
    padding-bottom: 10px;
    margin-top: 10px;
    padding-top: 0px;
  }
  .keyboard .key {
    width: calc((100% - 40px) / 4);
    height: 60px;
  }
  .keyboard .key-rest {
    width: calc(50% - 5px);
  }
  .keyboard .key-equal {
    width: calc(50% - 5px);
  }
}
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  /* for button */
  -webkit-appearance: button;
  /* for input */
  -moz-user-select: none;
  -ms-user-select: none;
}

/*# sourceMappingURL=style.css.map */
