
//Backgrounds

$VeryDarkDesaturatedBlue1: hsl(222, 26%, 31%);
$VeryDarkDesaturatedBlue2: hsl(223, 31%, 20%);
$VeryDarkDesaturatedBlue3: hsl(224, 36%, 15%);

//Keys

$DesaturatedDarkBlue1: hsl(225, 21%, 49%);
$DesaturatedDarkBlue2: hsl(224, 28%, 35%);

$Red: hsl(6, 63%, 50%);
$RedDark: hsl(6, 70%, 34%);

$LightGrayishOrange: hsl(30, 25%, 89%);
$GrayishOrange: hsl(28, 16%, 65%);

//Text

$VeryDarkGrayishBlue: hsl(221, 14%, 31%);

//Theme 2

//Backgrounds

$LightGray: hsl(0, 0%, 90%);
$GrayishRed: hsl(0, 5%, 81%);
$Very-LightGray: hsl(0, 0%, 93%);

//Keys

$DarkModerateCyan: hsl(185, 42%, 37%);
$VeryDarkCyan: hsl(185, 58%, 25%);

$Orange: hsl(25, 98%, 40%);
$DarkOrange: hsl(25, 99%, 27%);

$LightGrayishYellow: hsl(45, 7%, 89%);
$DarkGrayishOrangeow: hsl(35, 11%, 61%);

//Text

$VeryDarkGrayishYellow: hsl(60, 10%, 19%);

//Theme 3

//Backgrounds

$VeryDarkViolet: hsl(268, 75%, 9%);
$VeryDarkVioletBackground: hsl(268, 71%, 12%);

//Keys

$DarkVioletKey: hsl(281, 89%, 26%);
$VividMagenta: hsl(285, 91%, 52%);

$PureCyan: hsl(176, 100%, 44%);
$SoftCyan: hsl(177, 92%, 70%);

$VeryDarkViolet: hsl(268, 47%, 21%);
$DarkMagentaKeyShadow: hsl(290, 70%, 36%);

//Text

$LightYellow: hsl(52, 100%, 62%);
$VeryDarkBlue: hsl(198, 20%, 13%);

//Typography


$FontiSze: 32px;