@import 'variables';

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}


body {
    background-color: $VeryDarkDesaturatedBlue1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    font-family: 'League Spartan', sans-serif;

    &.theme2 {
        background-color: $LightGray;
    }


    &.theme3 {
        background-color: $VeryDarkViolet1;
    }
}


.container {
    width: 420px;
    height: 550px;
    background-color: $VeryDarkDesaturatedBlue1;

    body.theme2 & {
        background-color: $LightGray;
    }

    body.theme3 & {
        background-color: $VeryDarkViolet1;
    }
}


//Estilos header
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: $VeryDarkDesaturatedBlue1;


    body.theme2 & {
        background-color: $LightGray;
    }

    body.theme3 & {
        background-color: $VeryDarkViolet1;
    }

    h1 {
        color: white;
        font-size: 25px;

        body.theme2 & {
            color: black;
        }

        body.theme3 & {
            color: $LightYellow;

        }
    }



    //Contenedor boton para cambiar tema
    .header-theme-button {
        display: flex;
        align-items: flex-end;

        p {
            padding: 0;
            margin: 0;
            color: white;
            padding-right: 10px;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 10px;

            body.theme2 & {
                color: black;
            }


            body.theme3 & {
                color: $LightYellow;
            }
        }

        .theme-button-number {
            display: flex;
            justify-content: space-between;
            padding-bottom: 5px;




            p {
                padding: 0px;
                margin: 0px;
                font-size: 10px;

            }
        }

        //Contenedor boton ciruclo 
        .buttons-themes {
            width: 60px;
            height: 25px;
            background-color: $VeryDarkDesaturatedBlue3;
            display: flex;
            align-items: center;
            border-radius: 15px;
            padding: 2px 5px;
            cursor: pointer;

            body.theme2 & {
                background-color: $GrayishRed;
            }

            body.theme3 & {
                background-color: $VeryDarkVioletBackground;
            }

            .switch {
                width: 100%;
                height: 15px;
                border-radius: 50%;
            }



            //Boton circulo
            .active-theme {
                background-color: $Red;


                body.theme3 & {
                    background-color: $PureCyan;
                }
            }
        }
    }

}




//Estilos display
.display {
    height: 100px;
    border-radius: 10px;
    background-color: $VeryDarkDesaturatedBlue3;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    border: none;
    color: white;
    outline: none;
    text-align: right;
    width: 100%;
    font-size: 45px;
    font-family: 'League Spartan', sans-serif;
    letter-spacing: 2px;

    body.theme2 & {
        background-color: $Very-LightGray;
        color: $VeryDarkVioletBackground;
    }

    body.theme3 & {
        background-color: $VeryDarkVioletBackground;
        color: $LightYellow;
    }

    p {
        padding: 0px;
        margin: 0px;
        font-size: 30px;
        color: white;


        body.theme2 & {
            color: black;
        }

        body.theme3 & {
            color: $LightYellow;
        }

    }

}



//Estilos teclado 
.keyboard {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: $VeryDarkDesaturatedBlue2;
    border-radius: 15px;
    padding: 0 20px;
    padding-bottom: 20px;

    body.theme2 & {
        background-color: $GrayishRed;
    }

    body.theme3 & {
        background-color: $VeryDarkVioletBackground;
    }


    .key {
        width: calc((350px - 40px) / 4);
        height: 50px;
        background-color: $LightGrayishYellow;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 5px $DarkGrayishOrangeow;
        margin-top: 20px;
        padding-top: 5px;
        cursor: pointer;


        body.theme3 & {
            background-color: $VeryDarkViolet;
            box-shadow: 0 5px $DarkMagentaKeyShadow;
        }

        p {
            font-size: 25px;
            padding: 0px;
            margin: 0px;
            color: $VeryDarkGrayishBlue;


            body.theme3 & {
                color: $LightYellow;
            }
        }
    }




    .key-rest {
        width: calc(50% - 10px);
        background-color: $DesaturatedDarkBlue1;
        box-shadow: 0 5px $DesaturatedDarkBlue2;

        body.theme2 & {
            background-color: $DarkModerateCyan;
            box-shadow: 0 5px $VeryDarkCyan;
        }

        body.theme3 & {
            background-color: $DarkVioletKey;
            box-shadow: 0 5px $DarkMagentaKeyShadow;
        }

        p {
            color: white;
            text-transform: uppercase;
            font-size: 20px;

            body.theme3 & {
                color: white;
            }
        }

    }

    .key-equal {
        width: calc(50% - 10px);
        background-color: $Red;
        box-shadow: 0 5px $RedDark;

        body.theme2 & {
            background-color: $Orange;
            box-shadow: 0 5px $DarkOrange;
        }

        body.theme3 & {
            background-color: $PureCyan;
            box-shadow: 0 5px $SoftCyan;
        }

        p {
            color: white;

            body.theme3 & {
                color: $VeryDarkGrayishYellow;
            }
        }

    }


    .key--del {
        background-color: $DesaturatedDarkBlue1 ;
        box-shadow: 0 5px $DesaturatedDarkBlue2;


        body.theme2 & {
            background-color: $DarkModerateCyan;
            box-shadow: 0 5px $VeryDarkCyan;
        }

        body.theme3 & {
            background-color: $DarkVioletKey;
            box-shadow: 0 5px $DarkMagentaKeyShadow;
        }

        p {
            color: white;

            body.theme3 & {
                color: white;
            }
        }
    }
}




@media screen and (max-width: 420px) {

    .container {
        margin-top: 0;
        padding-top: 0;
    }

    .keyboard {
        padding-bottom: 10px;
        margin-top: 10px;
        padding-top: 0px;

        .key {
            width: calc((100% - 40px) / 4);
            height: 60px;
        }


        .key-rest {
            width: calc(50% - 5px);
        }

        .key-equal {
            width: calc(50% - 5px);
        }
    }

}




button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none;
    /* for button */
    -webkit-appearance: button;
    /* for input */
    -moz-user-select: none;
    -ms-user-select: none;
}